---
import DefaultLayout from '@layouts/DefaultLayout.astro';
import type { GetStaticPaths } from 'astro';
import { getEntry, getEntries, type CollectionEntry } from 'astro:content';
import { all_bits, all_articles, all_seen_tags } from '@api/tags';
import GlobalNavigation from '@components/GlobalNavigation/GlobalNavigation.astro';
import PostPreview from '@components/PostPreview.astro';

export const prerender = true;

interface Props {
  tag: CollectionEntry<'tags'>;
  bits: Array<CollectionEntry<'bits'>>;
  articles: Array<CollectionEntry<'articles'>>;
}

export const getStaticPaths: GetStaticPaths = async () => {
  return all_seen_tags.map((t) => ({
    props: {
      tag: t,
      bits: all_bits.filter(({ data }) =>
        data.tags.map((t) => t.id).includes(t.id)
      ),
      articles: all_articles.filter(({ data }) =>
        data.tags.map((t) => t.id).includes(t.id)
      )
    },
    params: { tag: t.id }
  }));
};

const { tag, bits, articles } = Astro.props;
const posts = [...bits, ...articles];
---

<DefaultLayout
  title={`${tag.data.name} Topics`}
  description={`${tag.data.name} Topics`}
>
  <div class="flex flex-col gap-4">
    <div class="flex flex-row items-end gap-4">
      <h1 class="text-3xl text-stone-600">{tag.data.name} Topics</h1>
      <a href="/tags" class="block text-stone-500 underline hover:no-underline">
        All topics {'->'}
      </a>
    </div>
    {
      posts.map(async (post) => {
        const author = await getEntry(
          post.data.authored_by.collection,
          post.data.authored_by.id
        );

        return (
          <PostPreview
            url={`/${post.collection}/${post.slug}`}
            title={post.data.heading}
            tags={(await getEntries(post.data.tags)).map((t) => ({
              id: t.id,
              name: t.data.name
            }))}
            publishedAt={post.data.published_at}
            author={{ id: author.id, name: author.data.name }}
          />
        );
      })
    }
  </div>
</DefaultLayout>
