---
import ForefrontLayout from '@pages/_layouts/ForefrontLayout.astro';
import Section from './_components/Section.astro';
import { getCollection } from 'astro:content';

export const prerender = true;

const active_projects = await getCollection(
  'projects',
  ({ data }) => !data.outdated
);
const outdated_projects = await getCollection(
  'projects',
  ({ data }) => data.outdated
);
---

<ForefrontLayout title="Experiments, projects and stuff" description="">
  <style>
    :root {
      --bg-color: theme('colors.indigo.200') !important;
      --text-color: theme('colors.indigo.950') !important;

      --GlobalNavigation-text-color: theme('colors.indigo.900') !important;
      --GlobalNavigation-text-color--hover: theme(
        'colors.indigo.950'
      ) !important;
    }
  </style>

  <div class="flex flex-col gap-10">
    <section class="grid gap-10 md:grid-cols-2 lg:grid-cols-3">
      {
        active_projects.map((project) => (
          <Section
            name={project.data.name}
            description={project.data.description}
            url={`/projects/${project.id}`}
          />
        ))
      }
    </section>
    <section>
      <h2 class="mb-10 font-sans text-2xl font-bold">Outdated</h2>
      <div class="grid gap-10 md:grid-cols-2 lg:grid-cols-3">
        {
          outdated_projects.map((project) => (
            <Section
              name={project.data.name}
              description={project.data.description}
              url={`/projects/${project.id}`}
            />
          ))
        }
      </div>
    </section>
  </div>
</ForefrontLayout>
